
header{
	background: #17202A;
	margin-bottom: 20px;
		padding: 20px;
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;

}

h1{

color: white;
}

.container{
	background-color: #FBFCFC;
	margin-bottom: 20px;
}
.instrucciones{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;

}

footer {
	padding: 20px 0;
	background:  #17202A;
	padding: 50px;
	text-align: left;
		
}

h6{
color: white;
}

body{
	background-color: #ABEBC6  ;
}